
.video-area {
  z-index: 1;
  position: relative;
}

.video-area::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
  z-index: -1;
  background-color: #fff8f8;
}
