
.profile-box {
  max-width: 1110px;
}

.profile-box .row {
  margin-left: 0;
  margin-right: 0;
}

.profile-box .row .col-lg-4,
.profile-box .row .col-lg-8 {
  padding-left: 0;
  padding-right: 0;
}

.profile-box .image {
  border-radius: 5px;
  padding-right: 15px;
}

.profile-box .image img {
  border-radius: 5px;
}

.profile-box .content {
  padding: 20px 0 20px 50px;
}

.profile-box .content h3 {
  margin-bottom: 7px;
  font-size: 23px;
  font-weight: 800;
}

.profile-box .content .sub-title {
  display: block;
  color: #fe4a55;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 600;
}

.profile-box .content .info {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.profile-box .content .info li {
  margin-bottom: 8px;
  font-weight: 600;
}

.profile-box .content .info li span {
  color: #606060;
  font-weight: 700;
}

.profile-box .content .info li:last-child {
  margin-bottom: 0;
}

.profile-box .content .social-link {
  padding-left: 0;
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 0;
}

.profile-box .content .social-link li {
  display: inline-block;
  margin-right: 8px;
}

.profile-box .content .social-link li:last-child {
  margin-right: 0;
}

.profile-box .content .social-link li a {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #e1e1e1;
  font-size: 18px;
  color: #221638;
  position: relative;
  border-radius: 2px;
}

.profile-box .content .social-link li a i {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translateY(-48%);
}

.profile-box .content .social-link li a:hover {
  background-color: #fe4a55;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .profile-box .image {
    padding-right: 0;
  }
  .profile-box .content {
    padding: 25px 0 0 0;
  }
  .profile-box .content h3 {
    font-size: 19px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .profile-box .content {
    padding: 0 0 0 20px;
  }
  .profile-box .content h3 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .profile-box .content {
    padding: 0 0 0 30px;
  }
  .profile-box .content h3 {
    font-size: 21px;
  }
}
