/* Max width 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14.5px;
  }
  .container {
    max-width: 100%;
  }
  .bulb {
    display: none;
  }
  p {
    font-size: 14.5px;
    line-height: 1.7;
  }
  .ptb-100 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .ptb-70 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-70 {
    padding-top: 30px;
  }
  .pb-70 {
    padding-bottom: 30px;
  }
  .default-btn {
    font-size: 13px;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .default-btn i {
    left: 20px;
  }
  .section-title {
    max-width: 100%;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }
  .section-title .sub-title {
    font-size: 12.5px;
  }
  .section-title h2 {
    max-width: 100%;
    font-size: 25px;
    margin-left: 0;
    margin-right: 0;
  }
  .section-title p {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
  }
  .mtb-100 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-control {
    height: 48px;
    font-size: 14.5px;
  }
  .boxes-area {
    padding-top: 30px;
  }
  .single-box-item {
    top: 0;
    padding: 55px 20px 25px;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .single-box-item .icon {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .single-box-item h3 {
    font-size: 18px;
  }
  .divider {
    display: none;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10, .shape11, .shape12, .shape13, .shape14, .shape15, .shape16, .shape17, .shape18, .shape19, .shape20, .shape21, .shape22, .shape23 {
    display: none;
  }
  .shorting-menu {
    margin-bottom: 20px;
  }
  .shorting-menu .filter {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .load-more-btn {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .load-more-btn .load-more {
    padding: 12px 55px 12px 30px;
    font-size: 15px;
  }
  .load-more-btn .load-more i {
    right: 30px;
    font-size: 16px;
  }
  .membership-levels-table .table thead th h2 {
    font-size: 25px;
  }
  .membership-levels-table .table thead th h3 {
    font-size: 14px;
  }
  .shorting-menu.shorting-menu-style-two {
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .shorting-menu.shorting-menu-style-two .filter {
    padding-top: 0;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
  }
  blockquote, .blockquote {
    padding: 20px !important;
  }
  blockquote p, .blockquote p {
    font-size: 17px !important;
  }
  .single-language-courses-box h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .single-language-courses-box p {
    padding-left: 0;
    padding-right: 0;
  }
  .single-language-courses-box .default-btn {
    margin-top: 5px;
  }
  .information-content {
    text-align: center;
  }
  .information-content .sub-title {
    font-size: 12.5px;
  }
  .information-content h2 {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .information-content .apply-details {
    text-align: left;
  }
  .information-content .apply-details li {
    padding-left: 80px;
  }
  .information-content .apply-details li h3 {
    margin-bottom: 8px;
    font-size: 18px;
  }
  .information-content .apply-details li .icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    top: 2px;
    transform: translateY(0);
    font-size: 25px;
  }
  .information-image {
    margin-top: 30px;
  }
  .free-trial-form {
    margin-top: 30px;
    text-align: center;
    padding: 30px 20px;
  }
  .free-trial-form .sub-title {
    font-size: 12.5px;
  }
  .free-trial-form h2 {
    font-size: 25px;
  }
  .free-trial-form form .form-group {
    margin-bottom: 15px;
  }
  .free-trial-form form button {
    font-size: 15px;
  }
  .newsletter-modal .newsletter-modal-content {
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .newsletter-modal .newsletter-modal-content .modal-image {
    display: none;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content {
    padding: 30px 25px;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content .sub-text {
    line-height: 1.6;
    font-size: 15px;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content h2 {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content form .input-newsletter {
    font-size: 14px;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content form button {
    height: auto;
    position: relative;
    font-size: 14px;
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  .hero-banner-area {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .hero-banner-area .container-fluid {
    max-width: 100%;
  }
  .hero-banner-content {
    text-align: center;
  }
  .hero-banner-content p {
    padding-right: 0;
    font-weight: 500;
    font-size: 15px;
  }
  .hero-banner-content h1 {
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 28px;
  }
  .hero-banner-content .default-btn {
    margin-top: 5px;
  }
  .hero-banner-image {
    margin-top: 30px;
  }
  .banner-shape19 {
    display: none;
  }
  .boxes-area.boxes-style-two .single-box-item {
    top: 0;
    margin-bottom: 0;
  }
  .overview-box {
    margin-top: 45px;
  }
  .overview-box .overview-content, .overview-box .overview-image {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .overview-box .overview-content {
    order: 2;
    text-align: center;
  }
  .overview-box .overview-content .sub-title {
    font-size: 12.5px;
  }
  .overview-box .overview-content h2 {
    font-size: 25px;
  }
  .overview-box .overview-content .btn-box .playstore-btn {
    font-size: 10px;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 45px;
    padding-right: 10px;
    padding-top: 7px;
  }
  .overview-box .overview-content .btn-box .playstore-btn img {
    left: 10px;
  }
  .overview-box .overview-content .btn-box .playstore-btn span {
    font-size: 14px;
  }
  .overview-box .overview-content .btn-box .applestore-btn {
    font-size: 10px;
    text-align: left;
    margin-left: 8px;
    padding-bottom: 5px;
    padding-left: 55px;
    padding-right: 10px;
    padding-top: 7px;
  }
  .overview-box .overview-content .btn-box .applestore-btn img {
    left: 10px;
  }
  .overview-box .overview-content .btn-box .applestore-btn span {
    font-size: 14px;
  }
  .overview-box .overview-image {
    order: 1;
    margin-bottom: 35px;
  }
  .yoga-main-banner {
    padding-top: 60px;
    padding-left: 0;
    padding-bottom: 60px;
  }
  .yoga-banner-content {
    max-width: 100%;
  }
  .yoga-banner-content .main-image {
    display: none;
  }
  .yoga-banner-content::before {
    display: block;
  }
  .yoga-banner-content .content {
    padding: 30px 20px;
    position: relative;
    top: 0;
    transform: unset;
  }
  .yoga-banner-content .content .top-image {
    display: none;
  }
  .yoga-banner-content .content h1 {
    margin-bottom: 15px;
    line-height: 1.3;
    font-size: 28px;
  }
  .yoga-banner-content .content .default-btn {
    margin-top: 5px;
  }
  .yoga-banner-content .content .bottom-image {
    display: none;
  }
  .single-training-box h3 {
    margin-bottom: 13px;
    font-size: 19px;
  }
  .tree-shape, .tree-shape2, .tree-shape3 {
    display: none;
  }
  .single-yoga-courses-box .courses-content h3 {
    margin-bottom: 10px;
    font-size: 19px;
  }
  .experience-area.extra-padding {
    padding-top: 60px;
  }
  .experience-content .sub-title {
    font-size: 12.5px;
  }
  .experience-content h2 {
    font-size: 25px;
  }
  .experience-image {
    margin-top: 35px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .experience-image::before {
    margin-right: 10px;
  }
  .experience-image::after {
    margin-left: 10px;
    margin-top: 10px;
  }
  .experience-image .video-btn {
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
  }
  .experience-image .title {
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 30px;
  }
  .download-syllabus-form {
    padding: 20px;
  }
  .download-syllabus-form h2 {
    font-size: 25px;
  }
  .download-syllabus-form form .form-group .nice-select {
    font-size: 14px;
  }
  .download-syllabus-form .syllabus-shape1, .download-syllabus-form .syllabus-shape2, .download-syllabus-form .syllabus-shape3 {
    display: none;
  }
  .single-pricing-box .pricing-header h3 {
    font-size: 18px;
    padding-top: 15px;
  }
  .single-pricing-box .pricing-features ul li {
    font-size: 15.5px;
  }
  .single-pricing-box .price {
    font-size: 25px;
  }
  .single-pricing-box .price span {
    margin-top: 0;
    font-size: 14px;
  }
  .health-coaching-banner-area {
    margin-bottom: -25px;
    padding-top: 80px;
  }
  .health-coaching-banner-area .col-lg-6:nth-child(1) {
    order: 2;
  }
  .health-coaching-banner-area .col-lg-6:nth-child(2) {
    order: 1;
  }
  .health-coaching-banner-area .divider {
    display: block;
    bottom: 25px;
    height: 70px;
  }
  .health-coaching-banner-area::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f5f7fa;
    z-index: 1;
    width: 100%;
    height: 25px;
  }
  .health-coaching-banner-content {
    text-align: center;
    margin-bottom: 35px;
  }
  .health-coaching-banner-content h1 {
    font-size: 27px;
    margin-bottom: 18px;
  }
  .health-coaching-banner-content h1 br {
    display: none;
  }
  .health-coaching-banner-content p {
    font-weight: 500;
    font-size: 15px;
  }
  .health-coaching-banner-content .btn-box {
    margin-top: 20px;
  }
  .health-coaching-banner-content .btn-box .d-flex {
    justify-content: center;
  }
  .health-coaching-banner-content .btn-box img {
    margin-left: 15px;
    max-width: 90px;
  }
  .health-coaching-shape1, .health-coaching-shape2, .health-coaching-shape3, .health-coaching-shape4, .health-coaching-shape5, .health-coaching-shape6, .health-coaching-shape7 {
    display: none;
  }
  .single-lifestyle-box {
    padding: 25px 15px;
  }
  .single-lifestyle-box .icon {
    width: 65px;
    height: 65px;
    line-height: 65px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .single-lifestyle-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .program-section-title {
    padding-right: 0;
    text-align: center;
  }
  .program-section-title h2 {
    font-size: 25px;
  }
  .program-list {
    margin-left: 0;
    margin-top: 30px;
  }
  .program-list .program-circle-shape {
    display: none;
  }
  .program-list .single-program-box:nth-child(2) {
    margin-bottom: 30px;
  }
  .single-program-box {
    margin-bottom: 30px;
  }
  .single-program-box h3 {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .single-program-box .icon {
    font-size: 45px;
    margin-bottom: 18px;
  }
  .single-health-services-box {
    text-align: center;
    padding-left: 0;
  }
  .single-health-services-box .icon {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-health-services-box h3 {
    font-size: 18px;
  }
  .experience-content .shape {
    display: none;
  }
  .experience-img {
    margin-left: 0;
    margin-top: 30px;
  }
  .experience-img .title {
    font-size: 22px;
  }
  .experience-shape1, .experience-shape2 {
    display: none;
  }
  .health-coaching-feedback-image {
    margin-right: 0;
  }
  .health-coaching-inner {
    max-width: 100%;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
  }
  .health-coaching-inner h2 {
    margin-bottom: 40px;
    font-size: 25px;
  }
  .object1, .object2, .object3, .object4 {
    display: none;
  }
  .default-btn-style-two {
    font-size: 14px;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .default-btn-style-two i {
    left: 25px;
    top: 13px;
  }
  .default-btn-style-two::before {
    margin: 2px;
  }
  .kindergarten-main-banner {
    padding-top: 100px;
  }
  .kindergarten-main-banner .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .kindergarten-banner-content h1 {
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 30px;
  }
  .kindergarten-banner-content h1 span {
    display: inline;
    font-size: 30px;
  }
  .kindergarten-banner-content .image {
    margin-bottom: 20px;
  }
  .kindergarten-banner-content p {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .kindergarten-banner-content .circle-shape {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    display: none;
    z-index: -1;
  }
  .kindergarten-banner-content .default-btn-style-two {
    margin-top: 5px;
  }
  .kindergarten-banner-image {
    margin-top: 30px;
  }
  .kindergarten-shape1, .kindergarten-shape2, .kindergarten-shape3, .kindergarten-shape4, .kindergarten-shape5, .kindergarten-shape6, .kindergarten-shape7, .kindergarten-shape8, .kindergarten-shape9, .kindergarten-shape10, .kindergarten-shape11, .kindergarten-shape12, .kindergarten-shape13, .kindergarten-shape14, .kindergarten-shape15, .kindergarten-shape16, .kindergarten-shape17, .kindergarten-shape18, .kindergarten-shape19, .kindergarten-shape20 {
    display: none;
  }
  .kindergarten-about-image {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .kindergarten-about-image .shape {
    display: none;
  }
  .kindergarten-about-image .main-image {
    padding-bottom: 0;
  }
  .kindergarten-about-image .main-image img {
    width: 100%;
  }
  .kindergarten-about-image .main-image img:nth-child(2) {
    position: relative;
    text-align: center;
    margin-top: 20px;
  }
  .kindergarten-services-area {
    padding-bottom: 60px;
  }
  .kindergarten-services-area::before {
    display: none;
  }
  .single-kindergarten-services-box {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .single-kindergarten-services-box img {
    display: none !important;
  }
  .single-kindergarten-services-box .content {
    position: relative;
    top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .single-kindergarten-services-box .content h3 {
    font-size: 19px;
  }
  .single-kindergarten-services-box .content .icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .kids-kite-image {
    display: none;
  }
  .single-kindergarten-courses-box .courses-image::before {
    display: none;
  }
  .single-kindergarten-courses-box .courses-image .price {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: -25px;
    line-height: 52px;
  }
  .single-kindergarten-courses-box .courses-image .price span {
    font-size: 15px;
  }
  .single-kindergarten-courses-box .courses-content {
    padding: 20px;
  }
  .single-kindergarten-courses-box .courses-content h3 {
    font-size: 18px;
  }
  .single-kindergarten-feedback-item {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .single-kindergarten-feedback-item .content img {
    display: none;
  }
  .single-kindergarten-feedback-item .content p {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
  }
  .single-kindergarten-feedback-item .client-info {
    margin-top: 15px;
    margin-left: 0;
  }
  .single-kindergarten-feedback-item .client-info h3 {
    font-size: 16px;
    color: #000000;
  }
  .single-kindergarten-feedback-item .client-info span {
    color: #000000;
  }
  .single-selected-ages-box h3 {
    padding-top: 9px;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
  }
  .border-box {
    padding: 20px;
  }
  .rtl-sidebar {
    right: 0;
    top: auto;
    bottom: 115px;
    padding: 0;
  }
  .rtl-sidebar ul li a {
    font-size: 12px;
  }
  .services-slides .swiper-button-prev, .services-slides .swiper-button-next {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .services-slides .swiper-button-prev::after, .services-slides .swiper-button-next::after {
    font-size: 15px;
  }
}
/* Min width 576px Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .hero-banner-area .container-fluid {
    max-width: 540px;
  }
  .yoga-main-banner .container-fluid {
    max-width: 540px;
  }
  .health-coaching-banner-area {
    margin-bottom: -35px;
  }
  .health-coaching-banner-area .divider {
    bottom: 35px;
  }
  .health-coaching-banner-area::before {
    height: 35px;
  }
  .health-coaching-inner {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .kindergarten-main-banner .container-fluid {
    max-width: 540px;
  }
  .kindergarten-about-image .main-image {
    padding-bottom: 115px;
    padding-right: 100px;
  }
  .kindergarten-about-image .main-image img {
    width: auto;
  }
  .kindergarten-about-image .main-image img:nth-child(2) {
    position: absolute;
    text-align: right;
    margin-top: 0;
  }
}
/* Min width 768px Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .bulb {
    display: none;
  }
  .ptb-100 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .ptb-70 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .container {
    max-width: 720px;
  }
  .section-title {
    max-width: 650px;
    margin-bottom: 45px;
  }
  .section-title .sub-title {
    font-size: 13.5px;
  }
  .section-title h2 {
    max-width: 520px;
    font-size: 30px;
  }
  .section-title p {
    max-width: 515px;
  }
  .default-btn {
    font-size: 15px;
  }
  .default-btn i {
    top: 11px;
  }
  .mtb-100 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10, .shape11, .shape12, .shape13, .shape14, .shape15, .shape16, .shape17, .shape18, .shape19, .shape20, .shape21, .shape22, .shape23 {
    display: none;
  }
  .divider {
    display: none;
  }
  .single-box-item {
    padding: 60px 25px 30px;
    top: 0;
    margin-bottom: 0;
    margin-top: 30px;
  }
  .single-box-item .icon {
    font-size: 55px;
    margin-bottom: 45px;
  }
  .single-box-item .icon img {
    top: -25px;
  }
  .single-box-item h3 {
    font-size: 19px;
  }
  .related-courses h3 {
    font-size: 22px;
  }
  blockquote, .blockquote {
    padding: 30px !important;
  }
  blockquote p, .blockquote p {
    font-size: 19px !important;
  }
  .single-language-courses-box h3 {
    margin-bottom: 10px;
    font-size: 19px;
  }
  .single-language-courses-box p {
    padding-left: 0;
    padding-right: 0;
  }
  .single-language-courses-box .default-btn {
    margin-top: 5px;
  }
  .information-content {
    text-align: center;
  }
  .information-content .sub-title {
    font-size: 13.5px;
  }
  .information-content h2 {
    font-size: 30px;
  }
  .information-content .apply-details {
    text-align: left;
  }
  .information-content .apply-details li {
    padding-left: 100px;
  }
  .information-content .apply-details li h3 {
    margin-bottom: 8px;
    font-size: 19px;
  }
  .information-content .apply-details li .icon {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 35px;
  }
  .information-image {
    margin-top: 30px;
  }
  .free-trial-form {
    margin-top: 30px;
  }
  .free-trial-form .sub-title {
    font-size: 13.5px;
  }
  .free-trial-form h2 {
    font-size: 30px;
  }
  .newsletter-modal .newsletter-modal-content {
    max-width: 500px;
  }
  .newsletter-modal .newsletter-modal-content .modal-image {
    display: none;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content {
    padding: 40px 35px;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content h2 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .newsletter-modal .newsletter-modal-content .modal-inner-content .sub-text {
    font-size: 15px;
  }
  .hero-banner-area {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .hero-banner-area .container-fluid {
    max-width: 720px;
  }
  .hero-banner-area .divider {
    display: block;
  }
  .hero-banner-content {
    max-width: 595px;
    text-align: center;
    margin: 0 auto;
  }
  .hero-banner-content h1 {
    margin-bottom: 15px;
    font-size: 35px;
  }
  .hero-banner-content p {
    max-width: 515px;
    font-size: 15px;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-banner-image {
    margin-top: 30px;
  }
  .banner-shape19 {
    display: none;
  }
  .boxes-area.boxes-style-two .single-box-item {
    top: 0;
    margin-bottom: 0;
  }
  .overview-box {
    margin-top: 45px;
  }
  .overview-box .overview-content, .overview-box .overview-image {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .overview-box .overview-content {
    order: 2;
    text-align: center;
  }
  .overview-box .overview-content .sub-title {
    font-size: 13.5px;
  }
  .overview-box .overview-content h2 {
    font-size: 30px;
  }
  .overview-box .overview-content .btn-box .playstore-btn, .overview-box .overview-content .btn-box .applestore-btn {
    text-align: left;
  }
  .overview-box .overview-image {
    order: 1;
    margin-bottom: 40px;
  }
  .yoga-main-banner {
    padding-left: 0;
  }
  .yoga-main-banner .container-fluid {
    max-width: 720px;
  }
  .yoga-banner-content {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .yoga-banner-content .content {
    padding: 100px;
    margin-top: -10px;
  }
  .yoga-banner-content .content .bottom-image {
    display: none;
  }
  .yoga-banner-content .content h1 {
    font-size: 35px;
  }
  .yoga-banner-content .content .default-btn {
    margin-top: 10px;
  }
  .single-training-box h3 {
    font-size: 19px;
  }
  .tree-shape2, .tree-shape3 {
    display: none;
  }
  .single-yoga-courses-box .courses-content h3 {
    font-size: 19px;
  }
  .tree-shape {
    bottom: 0;
  }
  .tree-shape img {
    width: 120px;
  }
  .experience-area.extra-padding {
    padding-top: 80px;
  }
  .experience-content .sub-title {
    font-size: 13.5px;
  }
  .experience-content h2 {
    font-size: 30px;
  }
  .experience-image {
    margin-top: 30px;
  }
  .experience-image .title {
    font-size: 30px;
  }
  .download-syllabus-form {
    margin-top: 30px;
    padding: 40px;
  }
  .download-syllabus-form h2 {
    font-size: 30px;
  }
  .single-pricing-box .pricing-header h3 {
    font-size: 19px;
  }
  .single-pricing-box .pricing-features ul li {
    font-size: 16px;
  }
  .single-pricing-box .price {
    font-size: 30px;
  }
  .single-pricing-box .price span {
    margin-top: 0;
    font-size: 15px;
  }
  .health-coaching-banner-area {
    margin-bottom: -40px;
    padding-top: 100px;
  }
  .health-coaching-banner-area .col-lg-6:nth-child(1) {
    order: 2;
  }
  .health-coaching-banner-area .col-lg-6:nth-child(2) {
    order: 1;
  }
  .health-coaching-banner-area .divider {
    bottom: 40px;
    height: 100px;
    display: block;
  }
  .health-coaching-banner-area::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f5f7fa;
    z-index: 1;
    width: 100%;
    height: 40px;
  }
  .health-coaching-banner-content {
    text-align: center;
    max-width: 540px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }
  .health-coaching-banner-content h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .health-coaching-banner-content h1 br {
    display: none;
  }
  .health-coaching-banner-content p {
    font-size: 16px;
  }
  .health-coaching-banner-content .btn-box {
    margin-top: 25px;
  }
  .health-coaching-banner-content .btn-box .d-flex {
    justify-content: center;
  }
  .health-coaching-shape1, .health-coaching-shape2, .health-coaching-shape3, .health-coaching-shape4, .health-coaching-shape5, .health-coaching-shape6, .health-coaching-shape7 {
    display: none;
  }
  .single-lifestyle-box h3 {
    font-size: 19px;
  }
  .single-lifestyle-box .icon {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .program-section-title {
    max-width: 555px;
    padding-right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .program-section-title .sub-title {
    font-size: 13.5px;
  }
  .program-section-title h2 {
    font-size: 30px;
  }
  .program-list {
    margin-left: 0;
    margin-top: 30px;
  }
  .program-list .program-circle-shape {
    left: 0;
    right: 0;
    text-align: center;
  }
  .single-program-box .icon {
    font-size: 45px;
  }
  .single-program-box h3 {
    font-size: 19px;
  }
  .single-health-services-box {
    text-align: center;
    padding-left: 0;
  }
  .single-health-services-box .icon {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .single-health-services-box h3 {
    font-size: 19px;
  }
  .experience-img {
    margin-top: 30px;
    margin-left: 0;
  }
  .experience-img .title {
    font-size: 30px;
  }
  .experience-shape1, .experience-shape2 {
    display: none;
  }
  .health-coaching-feedback-area {
    padding-bottom: 80px;
  }
  .health-coaching-feedback-image {
    margin-right: 0;
  }
  .health-coaching-inner {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .health-coaching-inner h2 {
    font-size: 30px;
  }
  .default-btn-style-two {
    font-size: 15px;
  }
  .default-btn-style-two i {
    left: 35px;
    top: 15px;
  }
  .kindergarten-main-banner {
    padding-top: 130px;
  }
  .kindergarten-main-banner .container-fluid {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .kindergarten-banner-content {
    max-width: 525px;
    margin-left: auto;
    margin-right: auto;
  }
  .kindergarten-banner-content h1 {
    margin-bottom: 15px;
    line-height: 1.2;
    font-size: 45px;
  }
  .kindergarten-banner-content h1 span {
    display: inline;
    font-size: 45px;
  }
  .kindergarten-banner-content .circle-shape {
    display: none;
  }
  .kindergarten-banner-image {
    margin-top: 30px;
  }
  .kindergarten-shape3, .kindergarten-shape5, .kindergarten-shape7, .kindergarten-shape8, .kindergarten-shape9, .kindergarten-shape10, .kindergarten-shape11, .kindergarten-shape12, .kindergarten-shape13, .kindergarten-shape14, .kindergarten-shape15, .kindergarten-shape16, .kindergarten-shape17, .kindergarten-shape18, .kindergarten-shape19, .kindergarten-shape20 {
    display: none;
  }
  .kindergarten-about-image {
    margin-right: 0;
  }
  .kindergarten-about-image .shape {
    right: 85px;
  }
  .kindergarten-services-area::before {
    height: 160px;
  }
  .single-kindergarten-services-box {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .single-kindergarten-services-box img {
    display: none !important;
  }
  .single-kindergarten-services-box .content {
    position: relative;
    top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .single-kindergarten-services-box .content .icon {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .single-kindergarten-services-box .content h3 {
    font-size: 20px;
  }
  .kids-kite-image {
    margin-top: -210px;
  }
  .single-kindergarten-courses-box .courses-content {
    padding: 0 20px 20px;
  }
  .single-kindergarten-courses-box .courses-content h3 {
    font-size: 20px;
  }
  .single-kindergarten-feedback-item .client-info h3 {
    font-size: 17px;
  }
  .single-selected-ages-box h3 {
    font-size: 22px;
    margin-left: 0;
    margin-right: 0;
  }
  .rtl-sidebar {
    right: 0;
    top: auto;
    bottom: 100px;
    padding: 0;
  }
  .rtl-sidebar ul li a {
    font-size: 12px;
  }
  .services-slides .swiper-button-prev, .services-slides .swiper-button-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .services-slides .swiper-button-prev::after, .services-slides .swiper-button-next::after {
    font-size: 18px;
  }
}
/* Min width 992px Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .bulb {
    display: none;
  }
  .container {
    max-width: 960px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .mtb-100 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .shape1, .shape2, .shape3, .shape4, .shape5, .shape6, .shape7, .shape8, .shape9, .shape10, .shape11, .shape12, .shape13, .shape14, .shape15, .shape16, .shape17, .shape18, .shape19, .shape20, .shape21, .shape22, .shape23 {
    display: none;
  }
  .single-banner-box {
    padding: 30px 20px 30px 80px;
  }
  .single-banner-box .icon {
    left: 20px;
    font-size: 40px;
  }
  .single-banner-box h3 {
    font-size: 19px;
  }
  .single-footer-widget.pl-5, .single-footer-widget.px-5 {
    padding-left: 0 !important;
  }
  .single-box-item {
    padding: 60px 15px 30px;
  }
  .single-box-item h3 {
    font-size: 20px;
  }
  blockquote, .blockquote {
    padding: 40px !important;
  }
  blockquote p, .blockquote p {
    font-size: 20px !important;
  }
  .single-language-courses-box h3 {
    font-size: 22px;
  }
  .information-content h2 {
    font-size: 30px;
  }
  .information-content .apply-details li {
    padding-left: 100px;
  }
  .information-content .apply-details li h3 {
    font-size: 22px;
  }
  .information-content .apply-details li .icon {
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
  }
  .free-trial-form h2 {
    font-size: 30px;
  }
  .hero-banner-area {
    padding-bottom: 230px;
    padding-top: 100px;
  }
  .hero-banner-area .container-fluid {
    max-width: 960px;
  }
  .hero-banner-content h1 {
    margin-bottom: 20px;
    font-size: 38px;
  }
  .hero-banner-content p {
    padding-right: 0;
  }
  .overview-box .overview-content h2 {
    font-size: 30px;
  }
  .yoga-main-banner {
    padding-left: 0;
  }
  .yoga-main-banner .container-fluid {
    max-width: 960px;
  }
  .yoga-main-banner .banner-shape2, .yoga-main-banner .banner-shape3 {
    display: none;
  }
  .yoga-banner-content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .single-training-box h3 {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .single-yoga-courses-box .courses-content h3 {
    font-size: 22px;
  }
  .experience-content h2 {
    font-size: 30px;
  }
  .experience-image .title {
    font-size: 25px;
  }
  .download-syllabus-form {
    padding: 30px;
  }
  .download-syllabus-form h2 {
    font-size: 30px;
  }
  .single-pricing-box .pricing-header h3 {
    font-size: 22px;
  }
  .single-pricing-box .pricing-features ul li {
    font-size: 16px;
  }
  .single-pricing-box .price {
    font-size: 30px;
  }
  .single-pricing-box .price span {
    margin-top: 0;
    font-size: 15px;
  }
  .health-coaching-banner-area .divider {
    height: 105px;
  }
  .health-coaching-banner-content h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .health-coaching-banner-content p {
    font-size: 16px;
  }
  .health-coaching-banner-content .btn-box {
    margin-top: 20px;
  }
  .health-coaching-shape1, .health-coaching-shape2, .health-coaching-shape3, .health-coaching-shape4, .health-coaching-shape5, .health-coaching-shape6, .health-coaching-shape7 {
    display: none;
  }
  .single-lifestyle-box {
    padding: 30px 20px;
  }
  .single-lifestyle-box .icon {
    width: 95px;
    height: 95px;
    line-height: 95px;
    font-size: 60px;
  }
  .single-lifestyle-box h3 {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .program-section-title {
    padding-right: 20px;
  }
  .program-section-title h2 {
    font-size: 30px;
  }
  .program-list .program-circle-shape img {
    animation: unset !important;
  }
  .single-program-box {
    padding: 20px;
  }
  .single-program-box .shape {
    display: none;
  }
  .single-program-box .icon {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .single-program-box h3 {
    font-size: 20px;
  }
  .single-health-services-box h3 {
    font-size: 22px;
  }
  .experience-content .shape {
    display: none;
  }
  .experience-img .title {
    font-size: 25px;
  }
  .health-coaching-feedback-image {
    margin-right: -230px;
  }
  .health-coaching-inner {
    max-width: 475px;
  }
  .health-coaching-inner h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .object1, .object2, .object3, .object4 {
    display: none;
  }
  .kindergarten-main-banner {
    padding-top: 150px;
  }
  .kindergarten-main-banner .container-fluid {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .kindergarten-main-banner::after {
    bottom: -1px;
  }
  .kindergarten-banner-content .image img {
    max-width: 60px;
  }
  .kindergarten-banner-content .circle-shape {
    display: none;
  }
  .kindergarten-banner-content h1 {
    line-height: 1.1;
    font-size: 45px;
  }
  .kindergarten-banner-content h1 span {
    display: inline;
    font-size: 50px;
  }
  .kindergarten-banner-image {
    margin-top: -15px;
  }
  .kindergarten-banner-image .mt-4, .kindergarten-banner-image .my-4 {
    margin-top: 0 !important;
  }
  .kindergarten-shape3 img {
    max-width: 150px;
  }
  .kindergarten-about-image {
    margin-right: 0;
  }
  .kindergarten-about-image .main-image {
    padding-bottom: 115px;
    padding-right: 80px;
  }
  .kindergarten-about-image .main-image img:nth-child(2) {
    max-width: 300px;
  }
  .kindergarten-about-image .shape img {
    max-width: 105px;
  }
  .kindergarten-shape7 {
    display: none;
  }
  .single-kindergarten-services-box {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .single-kindergarten-services-box img {
    display: none !important;
  }
  .single-kindergarten-services-box .content {
    position: relative;
    top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .single-kindergarten-services-box .content .icon {
    font-size: 45px;
  }
  .single-kindergarten-services-box .content h3 {
    font-size: 21px;
  }
  .single-kindergarten-courses-box .courses-content {
    padding: 0 20px 20px;
  }
  .single-kindergarten-courses-box .courses-content h3 {
    font-size: 21px;
  }
  .single-kindergarten-feedback-item {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .single-kindergarten-feedback-item .content img {
    display: none !important;
  }
  .single-kindergarten-feedback-item .content p {
    padding: 0;
    top: 0;
    position: relative;
  }
  .single-kindergarten-feedback-item .client-info {
    margin-left: 0;
    margin-top: 15px;
  }
  .single-kindergarten-feedback-item .client-info h3 {
    color: #000000;
    font-size: 18px;
  }
  .single-kindergarten-feedback-item .client-info span {
    color: #000000;
  }
  .single-selected-ages-box h3 {
    font-size: 21px;
    margin-left: 0;
    margin-right: 0;
  }
  .kindergarten-shape15, .kindergarten-shape16, .kindergarten-shape18 {
    display: none;
  }
  .kindergarten-shape19 img {
    max-width: 50px;
  }
  .kindergarten-shape20 img {
    max-width: 150px;
  }
  .rtl-sidebar {
    right: 0;
    padding: 10px;
  }
  .rtl-sidebar ul li a {
    font-size: 12px;
  }
  .services-slides .swiper-button-prev, .services-slides .swiper-button-next {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .services-slides .swiper-button-prev::after, .services-slides .swiper-button-next::after {
    font-size: 18px;
  }
}
/* Min width 1200px Max width 1355px */
@media only screen and (min-width: 1200px) and (max-width: 1355px) {
  .container {
    max-width: 1140px;
  }
  .hero-banner-area .container-fluid {
    max-width: 1200px;
  }
  .hero-banner-content h1 {
    margin-bottom: 20px;
    font-size: 39px;
  }
  .health-coaching-banner-content h1 {
    font-size: 65px;
  }
  .health-coaching-shape1, .health-coaching-shape2, .health-coaching-shape3 {
    display: none;
  }
  .kindergarten-main-banner {
    padding-top: 150px;
  }
  .kindergarten-main-banner .container-fluid {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .kindergarten-banner-content .image img {
    max-width: 100px;
  }
  .kindergarten-banner-content h1 {
    font-size: 50px;
  }
  .kindergarten-banner-content h1 span {
    font-size: 70px;
    display: inline;
  }
  .kindergarten-banner-content .circle-shape {
    display: none;
  }
  .kindergarten-banner-image {
    margin-top: -50px;
  }
  .kindergarten-banner-image .mt-4, .kindergarten-banner-image .my-4 {
    margin-top: 0 !important;
  }
  .kindergarten-shape7 {
    right: 5%;
    top: 3%;
  }
  .single-kindergarten-feedback-item {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .single-kindergarten-feedback-item .content img {
    display: none !important;
  }
  .single-kindergarten-feedback-item .content p {
    padding: 0;
    top: 0;
    position: relative;
  }
  .single-kindergarten-feedback-item .client-info {
    margin-left: 0;
    margin-top: 15px;
  }
  .single-kindergarten-feedback-item .client-info h3 {
    color: #000000;
  }
  .single-kindergarten-feedback-item .client-info span {
    color: #000000;
  }
  .kindergarten-shape19 {
    bottom: 220px;
  }
  .kindergarten-shape19 img {
    max-width: 150px;
  }
  .kindergarten-shape20 img {
    max-width: 240px;
  }
  .admin-nav .navbar .others-option {
    display: flex !important;
  }
}
/* Min width 1550px */
@media only screen and (min-width: 1550px) {
  .bulb {
    left: 20%;
  }
  .hero-banner-area .container-fluid {
    max-width: 1480px;
  }
  .health-coaching-shape1 img {
    max-width: 100%;
  }
  .health-coaching-shape2 img {
    max-width: 100%;
  }
  .health-coaching-shape3 img {
    max-width: 100%;
  }
  .kindergarten-main-banner .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
  .kindergarten-banner-content .image img {
    max-width: 100%;
  }
  .kindergarten-banner-content h1 {
    font-size: 60px;
  }
  .kindergarten-banner-content h1 span {
    font-size: 80px;
  }
  .kindergarten-shape19 img {
    max-width: 100%;
  }
  .kindergarten-shape20 img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .admin-nav .navbar .others-option .user-dropdown .dropdown-menu {
    opacity: 1;
    visibility: visible;
    left: 0;
    right: auto;
    top: 32px;
    width: 210px;
  }
  .admin-nav .navbar .others-option .user-dropdown .dropdown-menu li a {
    padding: 6px 20px;
    font-size: 14px;
  }
}/*# sourceMappingURL=responsive.css.map */